{% extends "::base.html.twig" %}

{% block title %}SoyozBlogBundle:Admin:index{% endblock %}

{% block body %}
<div class="container">
    <h1><a href="{{ path('admin_post_index') }}">Post Management</a></h1>
</div>
{% endblock %}
